


body {
    background-color: #FFB6C1;
    padding: 20px;
    margin: 0;
    text-align: center;
}

h1, h2, ul, li {
    font-family: sans-serif;
    color: #FF1493;
    
}
h3 {
    font-family: sans-serif;
    font-size: 30px;
    border-radius: 200px;
    color: #FF1493;
    background-image: linear-gradient( #FF1493,#fff,#E0FFFF,#FFE4E1,#FFB6C1,#E0FFFF, #fff,#FF1493);    
}
p {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold; 
    color: #FF1493;

}
ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
ul.header {
    background-color: #E0FFFF;
    padding: 0;
    border-radius: 100px;
}
ul.header li a {
    color: 	#FF1493;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.content {
    background-color: #FFF;
    padding: 20px;
    
}
.content h2 {
    padding: 0;
    margin: 0;
}
.content li {
    margin-bottom: 10px ;
    
}
.inputBox {
    background-color: #FFE4E1;


    
}

textarea {
    background-color:#F0F8FF;
    border-color: #FF1493;
    border-width: 5px;
    color: #FF1493;
}
.infoSource {
    text-align: left;
    font-size: small;
    
}

.active {
    border-radius: 200px;
    background-image: linear-gradient( #FF1493,#fff,#E0FFFF,#FFE4E1,#FFB6C1,#E0FFFF, #fff,#FF1493);    
    
    
}




/* ID that centers the validation text */
#validation {
    text-align: left;
  }
























